<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SshService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <SshService.Properties.Settings>
            <setting name="host" serializeAs="String">
                <value>{server_address}</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>{username}</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>{password}</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="privateKeyFile" serializeAs="String">
                <value>{path_to_private_key_file}</value>
            </setting>
            <setting name="forwardedPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="forwardedAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="pollIntervalSeconds" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="toEmails" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>your_email@address.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="tryToReopenLimit" serializeAs="String">
                <value>5</value>
            </setting>
        </SshService.Properties.Settings>
    </applicationSettings>
</configuration>